---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('March 18 2024')}
>	
	<p>
		Hi! 
		<br></br>
		My name is Ashley, I'm a student from Brooklyn.
		<br></br>
		I like to write poems in my free time, here's a few for you to enjoy! :P
	</p>
